<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">messages app</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <li  routerLinkActive="active"><a routerLink="logIn">log in</a></li>
          <li  routerLinkActive="active"><a routerLink="signup">sign up</a></li>
          <li routerLinkActive="active"><a>messages</a></li>
      </ul>
      </div>
    </div>
  </nav>