<div class="container-headline">
    <h4 class="font-change">start a conversation here!</h4>
</div>
<p class="design">your contacts:</p>
<p *ngIf="!this.arraySignUpUsers && !isServerLoading()" class="color-change">no users</p>
<div *ngIf="this.arraySignUpUsers && !isServerLoading()">
    <ul class="list-group">
        <ng-container *ngFor="let user of this.arraySignUpUsers; let i=index">
            <a class="list-group-item"
            *ngIf="i != this.loggedUser"
            (click)="UserSelected(i)">
        {{user.fullName}}</a>     
        </ng-container>
        
    </ul>
    <!-- <p *ngIf="isClicked" style="text-shadow:2px 5px 5px red">your talking to</p> -->
    <p *ngIf="isLoading">is Loading...</p>
</div>
<div class="container" *ngIf="currUser">
    <div class="row">
        <div class="col-md-6">
            <app-first-person
            [usernameTalking]="currUser"
            ></app-first-person>  
        </div>
        <div class="col-md-6">
            <app-second-person></app-second-person>
        </div>
    </div>
</div>